##  Imports

In [1]:
import pandas as pd
import requests
import json
from datetime import datetime

# Make a dataframe with Bitcoin and Dogecoin market value for last 30 days vs USD

In [2]:
url_1 = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=USD&days=30'  
resp_1 = requests.get(url_1)

url_2 = 'https://api.coingecko.com/api/v3/coins/dogecoin/market_chart?vs_currency=USD&days=30'
resp_2 = requests.get(url_2)

In [3]:
df1 = pd.DataFrame(resp_1.json())
#df1.head()

df2 = pd.DataFrame(resp_2.json())
df2.head()

,prices,market_caps,total_volumes
0,"[1564246881265, 0.0028017761962234526]","[1564246881265, 337669493.22970396]","[1564246881265, 43349673.281807184]"
1,"[1564250568529, 0.0027871752976164287]","[1564250568529, 335890561.96682894]","[1564250568529, 44112808.41170882]"
2,"[1564254006749, 0.0028076762408327273]","[1564254006749, 334335193.45703876]","[1564254006749, 44390006.83088862]"
3,"[1564257694759, 0.002795199529679223]","[1564257694759, 336889404.24518985]","[1564257694759, 43927910.3284862]"
4,"[1564261223568, 0.002780781902830106]","[1564261223568, 335547234.04416144]","[1564261223568, 42390312.13389234]"

In [4]:
bit = df1['prices'].apply(pd.Series)
bit.columns = ['date','bicoin in USD']
bit.head()

doge = df2['prices'].apply(pd.Series)
doge.columns = ['date','dogecoin in USD']
doge.head()

           date  dogecoin in USD
0  1.564247e+12         0.002802
1  1.564251e+12         0.002787
2  1.564254e+12         0.002808
3  1.564258e+12         0.002795
4  1.564261e+12         0.002781

In [5]:
bit['date'] =  pd.to_datetime(bit['date'], unit='ms')
bit.tail()

doge['date'] =  pd.to_datetime(doge['date'], unit='ms')
doge.tail()

                       date  dogecoin in USD
714 2019-08-26 13:02:33.916         0.002642
715 2019-08-26 14:03:57.577         0.002662
716 2019-08-26 15:00:46.767         0.002643
717 2019-08-26 16:00:15.275         0.002637
718 2019-08-26 16:52:45.000         0.002638

In [20]:
coin = pd.merge(bit, doge, left_index=True, right_index=True)
coin = coin.drop(['date_y'], axis=1)
coin = coin.rename(columns={'date_x': 'date'})

coin.head()

                     date  bicoin in USD  dogecoin in USD
0 2019-07-27 17:00:54.394    9443.758970         0.002802
1 2019-07-27 18:02:34.791    9458.748969         0.002787
2 2019-07-27 19:03:08.554    9416.385314         0.002808
3 2019-07-27 20:03:07.321    9440.231282         0.002795
4 2019-07-27 21:02:57.679    9471.833699         0.002781

In [21]:
coin['date'] = coin['date'].astype(str)
#print(type(coin['date'][1]))

coin[['date','hour']] = coin['date'].str.split(' ',expand=True)
coin_final = coin.drop(['hour'], axis=1)

#if it gives an error, please re-run the previous cell to redefine 'coin'

In [8]:
coin_final.head(50)

          date  bicoin in USD  dogecoin in USD
0   2019-07-27    9443.758970         0.002802
1   2019-07-27    9458.748969         0.002787
2   2019-07-27    9416.385314         0.002808
3   2019-07-27    9440.231282         0.002795
4   2019-07-27    9471.833699         0.002781
5   2019-07-27    9539.452875         0.002797
6   2019-07-27    9447.632727         0.002820
7   2019-07-28    9480.330359         0.002800
8   2019-07-28    9439.615244         0.002786
9   2019-07-28    9512.812373         0.002800
10  2019-07-28    9476.308954         0.002788
11  2019-07-28    9476.812674         0.002791
12  2019-07-28    9509.718481         0.002789
13  2019-07-28    9517.677962         0.002791
14  2019-07-28    9514.166386         0.002793
15  2019-07-28    9505.762412         0.002802
16  2019-07-28    9533.211275         0.002816
17  2019-07-28    9494.480669         0.002822
18  2019-07-28    9460.593930         0.002779
19  2019-07-28    9566.246926         0.002817
20  2019-07-28    9501.968438         0.002810
21  2019-07-28    9499.046075         0.002805
22  2019-07-28    9503.892212         0.002800
23  2019-07-28    9533.519763         0.002818
24  2019-07-28    9533.334486         0.002822
25  2019-07-28    9548.839239         0.002808
26  2019-07-28    9556.560991         0.002823
27  2019-07-28    9554.836290         0.002800
28  2019-07-28    9520.267062         0.002811
29  2019-07-28    9474.958931         0.002789
30  2019-07-28    9687.697294         0.002884
31  2019-07-29    9537.907002         0.002820
32  2019-07-29    9521.678403         0.002801
33  2019-07-29    9667.393632         0.002829
34  2019-07-29    9637.257090         0.002819
35  2019-07-29    9636.039770         0.002821
36  2019-07-29    9655.807714         0.002841
37  2019-07-29    9607.725992         0.002839
38  2019-07-29    9596.575041         0.002842
39  2019-07-29    9611.296794         0.002857
40  2019-07-29    9584.609427         0.002835
41  2019-07-29    9496.648852         0.002808
42  2019-07-29    9502.765283         0.002815
43  2019-07-29    9466.322907         0.002805
44  2019-07-29    9542.639758         0.002815
45  2019-07-29    9571.315313         0.002818
46  2019-07-29    9550.656064         0.002811
47  2019-07-29    9528.132516         0.002810
48  2019-07-29    9547.083399         0.002811
49  2019-07-29    9486.945211         0.002804

In [11]:
#Bitcoin and Dogecoin market value for last 30 days (in USD)

coin_bydate = coin_final.groupby('date',axis=0).mean() #groups by date into the mean
coin_bydate.head(30)

            bicoin in USD  dogecoin in USD
date
2019-07-27    9459.720548         0.002798
2019-07-28    9516.777434         0.002806
2019-07-29    9556.353549         0.002816
2019-07-30    9533.064726         0.002790
2019-07-31    9830.911493         0.002833
2019-08-01   10065.183360         0.002863
2019-08-02   10446.422284         0.002900
2019-08-03   10750.478958         0.002928
2019-08-04   10777.797120         0.002912
2019-08-05   11604.992007         0.003036
2019-08-06   11749.143921         0.003004
2019-08-07   11683.889048         0.002952
2019-08-08   11797.919446         0.002946
2019-08-09   11825.444802         0.002901
2019-08-10   11608.465513         0.002871
2019-08-11   11387.295657         0.002877
2019-08-12   11400.132646         0.002879
2019-08-13   11167.670861         0.002849
2019-08-14   10493.815250         0.002781
2019-08-15   10041.113843         0.002644
2019-08-16   10240.522210         0.002632
2019-08-17   10308.718054         0.002650
2019-08-18   10291.445440         0.002674
2019-08-19   10606.363981         0.002783
2019-08-20   10759.003565         0.002764
2019-08-21   10225.845091         0.002655
2019-08-22   10053.176544         0.002654
2019-08-23   10253.653013         0.002684
2019-08-24   10159.605891         0.002664
2019-08-25   10113.132262         0.002656

# Top Ten Coins Report

## List the first 10 coingecko currencies in a DataFrame

In [28]:
url= 'https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=10&page=1&sparkline=false" -H "accept: application/json'
response = requests.get(url)

top10 = pd.DataFrame(response.json())
top10.head(10)

,id,symbol,name,image,current_price,market_cap,market_cap_rank,total_volume,high_24h,low_24h,...,price_change_percentage_24h,market_cap_change_24h,market_cap_change_percentage_24h,circulating_supply,total_supply,ath,ath_change_percentage,ath_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,10315.900000,184631623962,1,22576125622,10673.830000,9990.110000,...,2.16724,3.923624e+09,2.17125,1.789825e+07,2.100000e+07,19665.39,-47.53679,2017-12-16T00:00:00.000Z,None,2019-08-26T17:17:45.949Z
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,188.160000,20222798246,2,7339345342,194.000000,183.660000,...,0.32460,5.294901e+07,0.26252,1.074827e+08,NaN,1448.18,-87.01797,2018-01-13T00:00:00.000Z,"{'times': 23.365974912693037, 'currency': 'btc...",2019-08-26T17:17:53.874Z
2,ripple,xrp,XRP,https://assets.coingecko.com/coins/images/44/l...,0.269394,11560040469,3,1437348659,0.278334,0.267080,...,-0.29275,-3.305939e+07,-0.28516,4.290954e+10,1.000000e+11,3.40,-92.07218,2018-01-07T00:00:00.000Z,None,2019-08-26T17:17:51.650Z
3,bitcoin-cash,bch,Bitcoin Cash,https://assets.coingecko.com/coins/images/780/...,309.530000,5562435362,4,1613012262,314.640000,301.840000,...,2.13009,1.178325e+08,2.16421,1.796883e+07,2.100000e+07,3785.82,-91.82782,2017-12-20T00:00:00.000Z,None,2019-08-26T17:17:47.932Z
4,litecoin,ltc,Litecoin,https://assets.coingecko.com/coins/images/2/la...,74.500000,4700443413,5,3078457399,74.990000,70.890000,...,2.97132,1.384503e+08,3.03486,6.311829e+07,8.400000e+07,360.66,-79.43568,2017-12-18T00:00:00.000Z,None,2019-08-26T17:18:09.859Z
5,binancecoin,bnb,Binance Coin,https://assets.coingecko.com/coins/images/825/...,25.880000,4022933654,6,284551174,27.120000,25.720000,...,-0.29041,-9.408994e+06,-0.23334,1.555367e+08,1.875367e+08,39.68,-34.84863,2019-06-22T12:20:21.894Z,None,2019-08-26T17:17:21.683Z
6,eos,eos,EOS,https://assets.coingecko.com/coins/images/738/...,3.600000,3669569082,7,2152833895,3.690000,3.480000,...,1.17028,4.625417e+07,1.27657,1.018579e+09,NaN,22.71,-84.12596,2018-04-29T07:50:33.540Z,"{'times': 2.638965376258134, 'currency': 'usd'...",2019-08-26T17:17:40.857Z
7,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,0.998302,3554660664,8,37671703870,1.020000,0.992959,...,-0.12675,-4.978247e+06,-0.13985,3.561090e+09,3.492447e+09,1.32,-24.46604,2018-07-24T00:00:00.000Z,None,2019-08-26T17:17:54.619Z
8,bitcoin-cash-sv,bsv,Bitcoin SV,https://assets.coingecko.com/coins/images/6799...,133.330000,2395647380,9,419089127,137.210000,131.020000,...,0.70764,1.873377e+07,0.78816,1.796586e+07,2.100000e+07,252.09,-47.02194,2019-06-22T11:10:08.380Z,None,2019-08-26T17:18:10.626Z
9,cardano,ada,Cardano,https://assets.coingecko.com/coins/images/975/...,0.049610,1543011879,10,158931642,0.051372,0.048553,...,-1.78177,-2.823602e+07,-1.79704,3.111248e+10,4.500000e+10,1.18,-95.78531,2018-01-04T00:00:00.000Z,None,2019-08-26T17:17:08.735Z

In [29]:
list(top10.columns) 

top10_drop = top10.drop(['image','market_cap',
 'total_volume',
 'high_24h',
 'low_24h',
 'price_change_24h',
 'price_change_percentage_24h',
 'market_cap_change_24h',
 'market_cap_change_percentage_24h',
 'circulating_supply',
 'total_supply',
 'ath',
 'ath_change_percentage',
 'ath_date',
 'roi',
 'last_updated'], axis=1)

In [30]:
top10_drop.head(10)

                id symbol          name  current_price  market_cap_rank
0          bitcoin    btc       Bitcoin   10315.900000                1
1         ethereum    eth      Ethereum     188.160000                2
2           ripple    xrp           XRP       0.269394                3
3     bitcoin-cash    bch  Bitcoin Cash     309.530000                4
4         litecoin    ltc      Litecoin      74.500000                5
5      binancecoin    bnb  Binance Coin      25.880000                6
6              eos    eos           EOS       3.600000                7
7           tether   usdt        Tether       0.998302                8
8  bitcoin-cash-sv    bsv    Bitcoin SV     133.330000                9
9          cardano    ada       Cardano       0.049610               10

In [34]:
top10_coins = top10_drop[0:10]
top10_coins.head(10)

                id symbol          name  current_price  market_cap_rank
0          bitcoin    btc       Bitcoin   10315.900000                1
1         ethereum    eth      Ethereum     188.160000                2
2           ripple    xrp           XRP       0.269394                3
3     bitcoin-cash    bch  Bitcoin Cash     309.530000                4
4         litecoin    ltc      Litecoin      74.500000                5
5      binancecoin    bnb  Binance Coin      25.880000                6
6              eos    eos           EOS       3.600000                7
7           tether   usdt        Tether       0.998302                8
8  bitcoin-cash-sv    bsv    Bitcoin SV     133.330000                9
9          cardano    ada       Cardano       0.049610               10

## Make a csv called 'top_ten_report.csv' and check that it worked

In [36]:
top10_coins.to_csv('/Users/filipalopes/Ironhack/LABS/lab-coingecko-api/top10_coins.csv')