##  Imports

In [114]:
import pandas as pd
import requests
import json

# Make a dataframe with Bitcoin and Dogecoin market value for last 30 days vs USD

In [203]:
# web scratching for USD/Bitcoin data
response = requests.get('https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=USD&days=30')
ds = pd.DataFrame(response.json())
ds.head(10)

,prices,market_caps,total_volumes
0,"[1564243404711, 9445.198950123946]","[1564243404711, 168629845157.85977]","[1564243404711, 22729366374.775005]"
1,"[1564246854394, 9443.758970400582]","[1564246854394, 168663435858.49576]","[1564246854394, 21880410273.828873]"
2,"[1564250554791, 9458.748968677053]","[1564250554791, 168769630193.2763]","[1564250554791, 21816510094.69829]"
3,"[1564254188554, 9416.385314494553]","[1564254188554, 167989628266.08728]","[1564254188554, 21832473518.718334]"
4,"[1564257787321, 9440.231281746921]","[1564257787321, 168550257864.4142]","[1564257787321, 21672627228.20599]"
5,"[1564261377679, 9471.833698643168]","[1564261377679, 168991868166.9875]","[1564261377679, 21539800749.68934]"
6,"[1564264826214, 9539.452875408946]","[1564264826214, 170199932354.29642]","[1564264826214, 21694699706.62936]"
7,"[1564268564506, 9447.632726627757]","[1564268564506, 168665094544.34906]","[1564268564506, 20364917292.06568]"
8,"[1564272081674, 9480.330359463645]","[1564272081674, 169130121233.68143]","[1564272081674, 21909012545.370487]"
9,"[1564275606438, 9439.615244277544]","[1564275606438, 168363092988.85068]","[1564275606438, 20812979301.528355]"

In [204]:
# web scratching for USD/dogecoin data
response_dogecoin = requests.get('https://api.coingecko.com/api/v3/coins/dogecoin/market_chart?vs_currency=USD&days=30')
ds_dogecoin = pd.DataFrame(response_dogecoin.json())
ds_dogecoin = ds_dogecoin["prices"].apply(pd.Series)
ds_dogecoin.columns=["date_d","USD/dogecoin"]
ds_dogecoin.head()

         date_d  USD/dogecoin
0  1.564247e+12      0.002802
1  1.564251e+12      0.002787
2  1.564254e+12      0.002808
3  1.564258e+12      0.002795
4  1.564261e+12      0.002781

In [205]:
# show only column "prices"
ds_bitcoin= ds["prices"].apply(pd.Series)

In [206]:
# rename columns
ds_bitcoin.columns=["date","USD/Bitcoin"]
ds_bitcoin.head()

           date  USD/Bitcoin
0  1.564243e+12  9445.198950
1  1.564247e+12  9443.758970
2  1.564251e+12  9458.748969
3  1.564254e+12  9416.385314
4  1.564258e+12  9440.231282

In [207]:
# transform timestamp to date
from datetime import date


ds_bitcoin["date"] = (pd.to_datetime(ds_bitcoin["date"], unit="ms"))

ds_bitcoin["date"] = (pd.to_datetime(ds_bitcoin["date"]).apply(lambda x: x.date()))
ds_bitcoin.head()

         date  USD/Bitcoin
0  2019-07-27  9445.198950
1  2019-07-27  9443.758970
2  2019-07-27  9458.748969
3  2019-07-27  9416.385314
4  2019-07-27  9440.231282

In [208]:
# transform timestamp to date
ds_dogecoin["date_d"] = (pd.to_datetime(ds_dogecoin["date_d"], unit="ms"))


ds_dogecoin["date_d"] = (pd.to_datetime(ds_dogecoin["date_d"]).apply(lambda x: x.date()))
ds_dogecoin.head()

       date_d  USD/dogecoin
0  2019-07-27      0.002802
1  2019-07-27      0.002787
2  2019-07-27      0.002808
3  2019-07-27      0.002795
4  2019-07-27      0.002781

In [209]:
# Group per day  dogecoin
last_dates_dogecoin = ds_dogecoin.groupby("date_d", as_index=False).agg({"USD/dogecoin":"mean"})
last_dates_dogecoin.head()

       date_d  USD/dogecoin
0  2019-07-27      0.002798
1  2019-07-28      0.002806
2  2019-07-29      0.002816
3  2019-07-30      0.002790
4  2019-07-31      0.002833

In [210]:
# Group per day  bitcoin
last_dates = ds_bitcoin.groupby("date", as_index=False).agg({"USD/Bitcoin":"mean"})
last_dates.head()

         date  USD/Bitcoin
0  2019-07-27  9457.905348
1  2019-07-28  9516.777434
2  2019-07-29  9556.353549
3  2019-07-30  9533.064726
4  2019-07-31  9830.911493

In [211]:
# Concat together Bitcoin and Dogecoin
both_ds = pd.concat([last_dates,last_dates_dogecoin], axis=1)
both_ds.head()

         date  USD/Bitcoin      date_d  USD/dogecoin
0  2019-07-27  9457.905348  2019-07-27      0.002798
1  2019-07-28  9516.777434  2019-07-28      0.002806
2  2019-07-29  9556.353549  2019-07-29      0.002816
3  2019-07-30  9533.064726  2019-07-30      0.002790
4  2019-07-31  9830.911493  2019-07-31      0.002833

In [213]:
# only one date
final_overview = both_ds[["date","USD/Bitcoin","USD/dogecoin"]]
final_overview

          date   USD/Bitcoin  USD/dogecoin
0   2019-07-27   9457.905348      0.002798
1   2019-07-28   9516.777434      0.002806
2   2019-07-29   9556.353549      0.002816
3   2019-07-30   9533.064726      0.002790
4   2019-07-31   9830.911493      0.002833
5   2019-08-01  10065.183360      0.002863
6   2019-08-02  10446.422284      0.002900
7   2019-08-03  10750.478958      0.002928
8   2019-08-04  10777.797120      0.002912
9   2019-08-05  11604.992007      0.003036
10  2019-08-06  11749.143921      0.003004
11  2019-08-07  11683.889048      0.002952
12  2019-08-08  11797.919446      0.002946
13  2019-08-09  11825.444802      0.002901
14  2019-08-10  11608.465513      0.002871
15  2019-08-11  11387.295657      0.002877
16  2019-08-12  11400.132646      0.002879
17  2019-08-13  11167.670861      0.002849
18  2019-08-14  10493.815250      0.002783
19  2019-08-15  10041.113843      0.002648
20  2019-08-16  10240.522210      0.002630
21  2019-08-17  10308.718054      0.002651
22  2019-08-18  10291.445440      0.002670
23  2019-08-19  10606.363981      0.002776
24  2019-08-20  10759.003565      0.002766
25  2019-08-21  10225.845091      0.002660
26  2019-08-22  10053.176544      0.002653
27  2019-08-23  10253.653013      0.002684
28  2019-08-24  10159.605891      0.002666
29  2019-08-25  10113.132262      0.002654
30  2019-08-26  10332.719911      0.002654

In [214]:
final_overview.describe()

        USD/Bitcoin  USD/dogecoin
count     31.000000     31.000000
mean   10581.902040      0.002802
std      739.628573      0.000119
min     9457.905348      0.002630
25%    10089.157811      0.002668
50%    10332.719911      0.002806
75%    11277.483259      0.002890
max    11825.444802      0.003036

# Top Ten Coins Report

In [217]:
# Top ten dogecoin
ds_topten =final_overview.sort_values(["USD/dogecoin"],ascending=False)
ds_topten.head(10)

          date   USD/Bitcoin  USD/dogecoin
9   2019-08-05  11604.992007      0.003036
10  2019-08-06  11749.143921      0.003004
11  2019-08-07  11683.889048      0.002952
12  2019-08-08  11797.919446      0.002946
7   2019-08-03  10750.478958      0.002928
8   2019-08-04  10777.797120      0.002912
13  2019-08-09  11825.444802      0.002901
6   2019-08-02  10446.422284      0.002900
16  2019-08-12  11400.132646      0.002879
15  2019-08-11  11387.295657      0.002877

In [216]:
# Top ten Bitcoin
ds_topten =final_overview.sort_values(["USD/Bitcoin"],ascending=False)
ds_topten.head(10)

          date   USD/Bitcoin  USD/dogecoin
13  2019-08-09  11825.444802      0.002901
12  2019-08-08  11797.919446      0.002946
10  2019-08-06  11749.143921      0.003004
11  2019-08-07  11683.889048      0.002952
14  2019-08-10  11608.465513      0.002871
9   2019-08-05  11604.992007      0.003036
16  2019-08-12  11400.132646      0.002879
15  2019-08-11  11387.295657      0.002877
17  2019-08-13  11167.670861      0.002849
8   2019-08-04  10777.797120      0.002912

## List the first 10 coingecko currencies in a DataFrame

In [221]:
# search for the right data on the webside (coin-markets)
coingecko = requests.get('https://api.coingecko.com/api/v3/coins/markets?vs_currency=USD&order=market_cap_desc&per_page=10&page=1&sparkline=false&price_change_percentage=24h')
ds_coingecko = pd.DataFrame(coingecko.json())
ds_coingecko.head(10)

,id,symbol,name,image,current_price,market_cap,market_cap_rank,total_volume,high_24h,low_24h,...,market_cap_change_24h,market_cap_change_percentage_24h,circulating_supply,total_supply,ath,ath_change_percentage,ath_date,roi,last_updated,price_change_percentage_24h_in_currency
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,10294.650000,184255559742,1,23040005148,10673.830000,9990.110000,...,3.139751e+09,1.73356,1.789819e+07,2.100000e+07,19665.39,-47.58972,2017-12-16T00:00:00.000Z,None,2019-08-26T16:24:12.792Z,1.766595
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,187.710000,20187523398,2,7929359271,194.000000,183.660000,...,-7.704813e+07,-0.38021,1.074822e+08,NaN,1448.18,-87.01823,2018-01-13T00:00:00.000Z,"{'times': 23.360468926645694, 'currency': 'btc...",2019-08-26T16:24:30.516Z,-0.409409
2,ripple,xrp,XRP,https://assets.coingecko.com/coins/images/44/l...,0.269337,11562283260,3,1418613777,0.278334,0.267080,...,-4.841918e+07,-0.41702,4.290954e+10,1.000000e+11,3.40,-92.06751,2018-01-07T00:00:00.000Z,None,2019-08-26T16:24:34.336Z,-0.407784
3,bitcoin-cash,bch,Bitcoin Cash,https://assets.coingecko.com/coins/images/780/...,308.170000,5539386830,4,1619345986,314.640000,301.840000,...,5.370483e+07,0.97900,1.796864e+07,2.100000e+07,3785.82,-91.85079,2017-12-20T00:00:00.000Z,None,2019-08-26T16:24:48.237Z,1.042558
4,litecoin,ltc,Litecoin,https://assets.coingecko.com/coins/images/2/la...,73.640000,4647790525,5,3087744214,74.990000,70.890000,...,5.604976e+07,1.22066,6.311800e+07,8.400000e+07,360.66,-79.58162,2017-12-18T00:00:00.000Z,None,2019-08-26T16:23:59.519Z,1.203366
5,binancecoin,bnb,Binance Coin,https://assets.coingecko.com/coins/images/825/...,25.860000,4022675877,6,155324270,27.120000,25.720000,...,-1.563943e+07,-0.38728,1.555367e+08,1.875367e+08,39.68,-34.79458,2019-06-22T12:20:21.894Z,None,2019-08-26T16:24:11.585Z,-0.329326
6,eos,eos,EOS,https://assets.coingecko.com/coins/images/738/...,3.590000,3654938378,7,2253675623,3.690000,3.480000,...,4.021499e+06,0.11015,1.018579e+09,NaN,22.71,-84.19221,2018-04-29T07:50:33.540Z,"{'times': 2.6231503021907394, 'currency': 'usd...",2019-08-26T16:24:25.537Z,0.120026
7,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,0.998213,3556280364,8,37470427978,1.020000,0.992959,...,-4.066436e+06,-0.11421,3.561090e+09,3.492447e+09,1.32,-24.47737,2018-07-24T00:00:00.000Z,None,2019-08-26T16:24:29.903Z,-0.156269
8,bitcoin-cash-sv,bsv,Bitcoin SV,https://assets.coingecko.com/coins/images/6799...,133.600000,2401153497,9,416457765,137.210000,131.020000,...,1.558888e+07,0.65347,1.796581e+07,2.100000e+07,252.09,-46.97236,2019-06-22T11:10:08.380Z,None,2019-08-26T16:24:46.161Z,0.550798
9,cardano,ada,Cardano,https://assets.coingecko.com/coins/images/975/...,0.049603,1543706943,10,159207850,0.051372,0.048553,...,-4.151519e+07,-2.61889,3.111248e+10,4.500000e+10,1.18,-95.78062,2018-01-04T00:00:00.000Z,None,2019-08-26T16:24:50.368Z,-2.594348

In [229]:
ds_coingecko.columns

Index(['id', 'symbol', 'name', 'image', 'current_price', 'market_cap',
       'market_cap_rank', 'total_volume', 'high_24h', 'low_24h',
       'price_change_24h', 'price_change_percentage_24h',
       'market_cap_change_24h', 'market_cap_change_percentage_24h',
       'circulating_supply', 'total_supply', 'ath', 'ath_change_percentage',
       'ath_date', 'roi', 'last_updated',
       'price_change_percentage_24h_in_currency'],
      dtype='object')

In [230]:
# show only the important columns
ds_coingecko_agg = ds_coingecko[['market_cap_rank',"name","current_price",'total_volume']]

In [233]:
# delete index column, just show the ranking of the Top 10
ds_coingecko_agg.set_index("market_cap_rank")

                         name  current_price  total_volume
market_cap_rank
1                     Bitcoin   10294.650000   23040005148
2                    Ethereum     187.710000    7929359271
3                         XRP       0.269337    1418613777
4                Bitcoin Cash     308.170000    1619345986
5                    Litecoin      73.640000    3087744214
6                Binance Coin      25.860000     155324270
7                         EOS       3.590000    2253675623
8                      Tether       0.998213   37470427978
9                  Bitcoin SV     133.600000     416457765
10                    Cardano       0.049603     159207850

## Make a csv called 'top_ten_report.csv' and check that it worked

In [237]:
ds_coingecko_agg.to_csv(r"C:\Users\linda\Ironhack\Lesson_Data\lab-coingecko-api\top_ten_report.csv")